@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@600&display=swap');

.letter {
    position: relative;
    z-index: 0;
    max-height: 100vh;
    display: none;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.letter::-webkit-scrollbar {
    display: none;
  }

.letter-section {
    display: flex;
    align-items: center;
    height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    scroll-snap-align: start;
}

.s2 {
    justify-content: center;
}

.s3 {
    justify-content: flex-end;
}

.bubble-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 6rem;
    width: 50vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.bubble-text::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 50%;
    background-color: #3C096C;
    animation: float 4s ease 1s infinite;
}

.p {
    color: #FFDEAD;
    text-align: justify;
}

.scroll {
    align-self: flex-end;
    margin: 0 0 5rem 2rem;
    font-family: "Gluten";
    font-size: 2rem;
}

@keyframes float {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(3%);
    }
    100% {
        transform: translateY(0%);
    }

}